**/.#*
**/.ipynb_checkpoints
**/__pycache__
**/*.log
**/*.pdf
**/*.bib
**/*.log
**/*.tex
**/*.md
data/*
**/node_modules
starmap/dist
starmap/.cache
starmap/v8-compile-cache-0
wordmap/newspapers/umap.csv
starmap/starmap.json
