# Main packages
numpy
click
fasttext
jupyter
jupyterlab
matplotlib
nltk
pandas
plotly
plotly-express
scrapy
seaborn
tqdm
umap-learn

# Other package versions for consistency
ipywidgets>=7.5
colorama>=0.3.9

# Submodules
-e /code/submodules/fastText
-e /code/submodules/reo-toolkit
